<?php
$finder = PhpCsFixer\Finder::create()
    ->exclude('tests/Fixtures')
    ->exclude('vendor')
    ->in(__DIR__)
    ->append([__DIR__.'/php-cs-fixer'])
;
$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@PHP56Migration' => true,
        '@PHPUnit60Migration:risky' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        'header_comment' => ['header' => <<<'EOF'
This file is part of Clamav library.
(c) Samuel Queniart <samuel@ylly.fr>
This source file is subject to the MIT license that is bundled
with this source code in the file LICENSE.
EOF
],
        'list_syntax' => ['syntax' => 'long'],
    ])
    ->setFinder($finder)
;

return $config;

